* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}
:root {
  --blue: #666cdc;
  --green: #00d693;
}
header {
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  margin-left: 3em;
}
nav {
  width: 610px;
  height: 70px;
  margin-right: 3em;
}
nav ul {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
}
nav li a {
  color: black;
  transition: ease 0.3s;
}
nav a:hover {
  color: var(--blue);
}
button {
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--green);
  color: white;
}
#btnGetStarted {
  width: 115px;
  height: 41px;
}
main {
  height: 655px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/header_gradient-88482362.svg);
  text-transform: uppercase;
}
main .col1 {
  height: inherit;
  width: 65%;
}
main .col2 {
  height: 300px;
  width: 35%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#blueCol {
  color: var(--blue);
}
main p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
main a {
  margin-left: 20px;
  color: black;
  text-decoration: underline;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.trust {
  width: 80%;
  height: 210px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.hr {
  width: 40px;
  height: 2px;
  background-color: var(--blue);
}
.trust .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whatWeDo {
  width: 80%;
  height: 750px;
  margin: 2em 0 2em 0;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatWeDo .content {
  width: 85%;
  height: 640px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.whatWeDo h1 {
  width: 86%;
  font-size: 52px;
  line-height: 73px;
  font-weight: 400;
}
.whatWeDo .content .row {
  height: 280px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatWeDo .content .row .col {
  width: 476px;
  height: 280px;
}
.whatWeDo .content .row .col p {
  margin-bottom: 1em;
}
.reviews {
  width: 100%;
  height: 655px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews img {
  width: 670px;
  height: 400px;
  opacity: 0.8;
  border-bottom: 10px solid var(--blue);
}
.reviews .col {
  width: 615px;
  height: 536px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.reviews .col .content {
  height: 500px;
  width: 500px;
}
.reviews h1 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 600;
  margin-bottom: 2em;
}
.reviews p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin: 2em 0 2em 0;
}
.features {
  width: 100%;
  height: 860px;
}
